* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2a2d48;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 32px;
}

#site-header {
  padding: 18px 42px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 12%),
    0px 4px 5px 0px rgb(0 0 0 / 12%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

#site-title {
  display: inline-block;
}

#site-nav {
  display: inline-block;
  margin-left: 18px;
}

.nav-link {
  margin: 16px;
  text-decoration: none;
  color: #2c2b47;
}

#site-footer {
  background-color: #2c2b47;
  color: white;
  padding: 16px;
  text-align: center;
}

#site-main {
  width: 80%;
  margin: auto;
}

.alert {
  background-color: #6d6d7a;
  color: white;
  padding: 12px;
  margin: 24px 0;
  border-radius: 6px;
}

.course {
  background-color: #fbfbfb;
  padding: 12px 18px;
  margin: 24px 0;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
}

.course h3 {
  margin: 8px 0;
}

.course ul {
  list-style-position: inside;
}
